<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Try</title>
<style>
  h1{
    font-size: 120%;
  }
  body{
    background-color:green;
  }
</style>
</head>

<body>
<h1>{{ title }}</h1>
<p>
Experimento.
</p>

</body>
</html>
